.user_page_container{
    height: 100vh;
    overflow-y: hidden;
}

.dropDown{

    background: #060b263a;
    width: 250px;
    /* padding: 10px; */
    /* height: 150px; */
    margin: -25px 0 0 30px;
    position: absolute;
    z-index: 2;
    /* left: 100%; */
    /* top: 0; */
    /* left: 50%    ; */
    right:30px;
    
    opacity: 0;
    box-shadow: 1px 1px 5px black;
    user-select: none;
    transition: 200ms ease-in-out;
}


.dropDown.active{
    /* left: 80%; */
    opacity: 1;
    /* transform: 350ms; */
}

.dropDown ul li{
    padding: 10px 20px;
    /* background: pink; */
    margin: 5px;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDown li:hover{
    background: white;
}

.dropDown li:active{
    transform: scale(0.8);
    transition:200ms ease-in-out;
    background: rgb(129, 127, 127);

}



.dropDown ul{
    padding: 0;
}



.user_nav{
    /* background: #060b26; */
    width: 100vw;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1;
    
}