@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


.navbar{
    background-color: #060b26;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    box-shadow: 1px 1px 15px black;
    font-family: 'Ubuntu', sans-serif;

}

.navbar h2{
    margin: 0 auto;
}

.entrance button{
    margin: 0 3px;
    padding: 7px;
    border-radius: 5px;
    
}

.hidden-navbar{
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;    
}

.nav-menu{
    background-color: #060b26;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    color: white;
    top: 0;
    left: -100%;
    transition: 250ms;
    padding: 25px;
}


.nav-menu.active{
    left: 0;
    transform: 350ms;

}

.nav-text{
    display: flex;
    justify-content: start;
    /* text-decoration: none; */
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    /* align-items: baseline;     */
}

.nav-text a:hover{
    color: rgb(244, 244, 169);
}

.nav-text span{
    padding:3px 0 0 10px;
}

.nav-menu-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* right: 0; */
    /* background: yellow; */
    margin: 50px 0 0 10px;
}

.hiddenNav-item{
    /* background: yellow; */
    margin:5px 0 0 -70px;
}

.cancelIcon{
    margin-left: -15px;
}

.nav-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media (max-width:600px){
    .entrance button{
        width: min-content !important;
        padding: 5px 13px;

    }
}